# Eclipse/Java
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.class
src-gen/

# Xtend
xtend-gen/
xtend-gen-tests/
*._trace
*.xtendbin

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Custom
EvaluationData
