<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         id="emfprofilesDomainProvider"
         name="Emfprofiles Domain Provider"
         point="tools.vitruv.framework.domains.domain">
      <domainProvider
            class="tools.vitruv.domains.emfprofiles.EmfProfilesDomainProvider"></domainProvider>
   </extension>

</plugin>
