<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension-point id="changeeventextendedvisitors" name="Change Event Extended Visitors" schema="schema/tools.vitruv.domains.java.monitorededitor.changeeventextendedvisitors.exsd"/>
      <extension id="javaMonitoredEditorDomainProvider" name="Java Monitored Editor Domain Provider" point="tools.vitruv.framework.domains.domain">
            <domainProvider class="tools.vitruv.domains.java.monitorededitor.JavaMonitoredEditorDomainProvider"></domainProvider>
      </extension>

      <extension id="tools.vitruv.domains.java.builder.JavaBuilder.id" point="org.eclipse.core.resources.builders">
            <builder>
                  <run class="tools.vitruv.domains.java.builder.VitruviusJavaBuilder">
                  </run>
            </builder>
      </extension>

      <extension point="org.eclipse.core.expressions.propertyTesters">
            <propertyTester class="tools.vitruv.domains.java.builder.JavaTestBuilderEnabled" id="tools.vitruv.domains.java.builder.JavaBuilder.id" namespace="tools.vitruv.domains.java.builder" properties="isEnabled" type="java.lang.Object">
            </propertyTester>
      </extension>
      <extension point="org.eclipse.ui.startup">
            <startup class="tools.vitruv.domains.java.builder.JavaBuildOnEclipseStartup">
            </startup>
      </extension>
      
      <extension-point id="postreconcile" name="Postreconcile Classifiers" schema="schema/tools.vitruv.domains.java.monitorededitor.astchangelistener.postreconcile.exsd"/>
      <extension-point id="postchange" name="Postchange Classifiers" schema="schema/tools.vitruv.domains.java.monitorededitor.astchangelistener.postchange.exsd"/>
</plugin>
