<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         id="confidentialityDomainProvider"
         name="Confidentiality Domain Provider"
         point="tools.vitruv.framework.domains.domain">
      <domainProvider
            class="tools.vitruv.domains.confidentiality.ConfidentialityDomainProvider"></domainProvider>
   </extension>

</plugin>
