<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JavaFeature -->
      <package
            uri="http://tools.vitruv/EChange/Java/Feature/1.0"
            class="tools.vitruv.domains.java.echange.feature.FeaturePackage"
            genModel="metamodel/JavaEChange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Attribute -->
      <package
            uri="http://tools.vitruv/EChange/Java/Feature/Attribute/1.0"
            class="tools.vitruv.domains.java.echange.feature.attribute.AttributePackage"
            genModel="metamodel/JavaEChange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Reference -->
      <package
            uri="http://tools.vitruv/EChange/Java/Feature/Reference/1.0"
            class="tools.vitruv.domains.java.echange.feature.reference.ReferencePackage"
            genModel="metamodel/JavaEChange.genmodel"/>
   </extension>

</plugin>
